body { 
    background: #ddda08;
  }

section {
    background: 
}


h1 {
    color: white;
}

h2 {
    color: #E58F65;
}
footer {
    color: white;
}

.hotpink-header {
    color:hotpink;
}

#top {
    background: #ce4506;
}
a {
    color: rgb(221, 125, 208);
}
nav a {
    color: rgb(241, 5, 123);
}